.symbol-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

/* sm ≥640px */
@media (min-width: 640px) {
  .symbol-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* md ≥768px */
@media screen and (min-width: 768px) {
  .symbol-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg ≥1024px */
@media screen and (min-width: 1024px) {
  .symbol-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl ≥1280px */
@media screen and (min-width: 1280px) {
  .symbol-cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* 2xl ≥1536px */
@media screen and (min-width: 1536px) {
  .symbol-cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
