.symbol-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.symbol-details-svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  margin: 4px 16px 4px 4px;
}

.symbol-details-text {
  overflow: hidden;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
}
